<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="LUCENE_DIRECTORY_TYPE" value="RAM"/>-->
    <add key="LUCENE_DIRECTORY_TYPE" value="DISK"/>
    <add key="LUCENE_DIRECTORY_PATH" value="../../../indexfolder"/><!--index folder path-->
    <add key="program.state" value="program.state"/>
    <add key="IGNORED_EXTENSIONS" value="avi,bin,bmp,cab,com,dll,docx,exe,gif,ico,jar,jpeg,jpg,lib,mdf,msi,ocx,pdb,pdf,png,pptx,rar,suo,wmf,wmv,zip,7z"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
