<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--define logging section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
    <!--spring section-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <log4net>
    <!-- FileAppender is set to be a ConsoleAppender -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="out.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger (%line) - %message%exception%newline%exception"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger (%line) - %message%exception%newline%exception"/>
      </layout>
    </appender>    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="PDNUtils.Runner">
      <level value="ERROR"/>
    </logger>
  </log4net>

  <!--spring objects configuration-->
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      <object id="SpringFoo" type="NET4.TestClasses.SpringFoo, NET4"/>
    </objects>

  </spring>  
  
  <appSettings>
    <add key="key" value="val"/>
    <add key="LDAPServer" value="10.0.76.12"/>
    <add key="web_config_path" value="d:\WORK\Web.config"/>
    <add key="LUCENE_DIRECTORY_TYPE" value="RAM"/>
    <!--<add key="LUCENE_DIRECTORY_TYPE" value="DISK"/>-->
    <add key="LUCENE_DIRECTORY_PATH" value="../../../indexfolder"/><!--index folder path-->
    <add key="program.state" value="program.state"/>
    <add key="IGNORED_EXTENSIONS" value="avi,bin,bmp,cab,com,dll,docx,exe,gif,ico,jpeg,jpg,lib,msi,ocx,pdb,pdf,png,pptx,rar,suo,wmv,zip"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseParameters" connectionString="Data Source=10.140.107.245;Initial Catalog=EOC;Persist Security Info=False;User ID=sa;Password=Password01"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
