<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" requireReinstallation="True" />
  <package id="Moq" version="4.0.10827" requireReinstallation="True" />
  <package id="Rx-Main" version="1.0.10621" requireReinstallation="True" />
  <package id="Unity" version="2.1.505.0" requireReinstallation="True" />
</packages>